
#=====================
#=== SETTINGS UI FONT
#=====================
type: custom:button-card
entity: input_text.irrigation_ui_font_family
show_state: true
name: User Interface Font
size: 30%
styles:
  grid:
    - grid-template-areas: '"i n s"  "i n s"'
    - grid-template-columns: 15% auto 15%
    - grid-template-rows: min-content min-content
  card:
    - font-family: "[[[ return states['input_text.irrigation_ui_font_family'].state ]]]"
    - font-size: 15px
    - padding: 0em 0em 0.5em 0em
    - background: none
    - box-shadow: none
  name: 
    - justify-self: start
  label:
    - justify-self: start
    - color: var(--secondary-text-color)
tap_action:
  action: call-service
  service: browser_mod.popup
  service_data:
    title: User Interface Font
    card:
      type: vertical-stack
      cards:
        - type: markdown
          content: Leave blank to use the font from the current theme.
          style: >
            ha-card {
              box-shadow: none;
              padding: 0em 0em 0em 1em;
              background: var(--paper-dialog-background-color);
              margin: 0em;
            }
            p {
              font-size: 18px;
            }
        - type: entities
          entities:
            - entity: input_text.irrigation_ui_font_family
              name: Font Name
          style: >
            ha-card {
              box-shadow: none;
              border-radius: 0em 0em 1em 1em;
              background: var(--paper-dialog-background-color);
            }
    deviceID:
      - this
    style:
      font-family: >
        [[[
          return states['input_text.irrigation_ui_font_family'].state
        ]]]
      box-shadow: 0em 0em 0.5em
      border-radius: 1em
      opacity: 0.9

